/********* FONTS *****/

@font-face {
    font-family: 'safetyregular';
    src: url('fonts/safety-webfont.woff2') format('woff2'),
        url('fonts/safety-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'safetydemibold';
    src: url('fonts/safetydemibold-webfont.woff2') format('woff2'),
        url('fonts/safetydemibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'safetylight';
    src: url('fonts/safetylight-webfont.woff2') format('woff2'),
        url('fonts/safetylight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/**** SIDE ******/

body {
    background-color: #414b5a;
    margin: 0;
}

#logo {
    background-image: url(files/logo.svg);
    width: 180px;
    height: 30px;
    margin: 10px 0px 0px 130px;
    background-size: contain;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #28292c;
    padding: 0px 15px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 15px 130px 0px 0px;
}

a {
    margin: 27px 10px 21px;
    font-family: 'safetydemibold';
    color: #CCCCCC;
    font-size: 18px;
    text-decoration: none;
}

h1 {
    font-family: 'safetylight';
    font-size: 38px;
    color: white;
    margin: 100px auto 10px;
    width: 50%;
}

p {
    font-family: 'safetylight';
    font-size: 20px;
    line-height: 1.3;
    color: white;
    margin: 50px auto 10px;
    width: 50%;
}

#mb {
    background-image: url(files/54523382_263481024534663_7425732836826546176_n.png);
    width: 50%;
    height: 500px;
    background-size: contain;
    margin: 20px auto;
    background-repeat: no-repeat;
}

#sb1 {
    background-image: url(files/sb1.svg);
    width: 30%;
    height: 600px;
    background-size: contain;
    margin: 20px auto;
}

#sb2 {
    background-image: url(files/sb2.svg);
    width: 30%;
    height: 600px;
    background-size: contain;
    margin: 20px auto;
}

#sb3 {
    background-image: url(files/sb3.svg);
    width: 30%;
    height: 600px;
    background-size: contain;
    margin: 20px auto;
}

#sb4 {
    background-image: url(files/sb4.svg);
    width: 30%;
    height: 600px;
    background-size: contain;
    margin: 20px auto;
}

iframe {
    width: 65%;
    height: 500px;
}

#video {
    margin-left: 380px;
    margin-top: 20px;
}
